<%
html_root_sections = Spree::SectionPiece.html_roots.includes(:sections).map{| section_piece | section_piece.sections }.flatten.uniq
%>

    <%= f.field_container :title, :class => ['form-group'] do %>
      <%= f.label :title %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'form-control title' %>
      <%= f.error_message_on :title %>
    <% end %>

     <%= f.field_container :section_root_id, :class => ['form-group'] do %>
      <%= f.label :section_root_id %><span class="required">*</span><br />

      <%= f.select :section_root_id, options_from_collection_for_select(html_root_sections, :id, :title), {}, class: 'select2' %>
      <%= f.error_message_on :section_root_id %>
    <% end %>
