<%
# list layout tree in editor page.
# local params: theme, selected_id, current
page_layout = theme.original_page_layout_root
selected_id ||= page_layout.id
%>

<div id="ajax_error" class="errorExplanation" style="display:none;"></div>

<%=form_tag(update_layout_tree_template_theme_path(theme), :id=>"layout_tree_form",:name=>"layout_tree_form", :remote=>true) do %>

  <fieldset class="no-border-top">
    <div class="form-group">
      <%= label_tag nil, Spree.t(:tree) %><br />
      <script>
        Spree.routes.template_theme_page_layouts_path = "<%= spree.api_template_theme_page_layouts_path(@template_theme) %>";
        Spree.routes.admin_template_theme_page_layouts_path = "<%= spree.admin_template_theme_page_layouts_path(@template_theme) %>";
        Spree.routes.jstree_theme_path = "<%= stylesheet_path("jquery.jstree/themes/spree/style.css") %>";
      </script>

      <div id="page_layout_tree" class="tree">
        <div class="alert alert-warning">
          <%= Spree.t(:loading_tree) %>
        </div>
      </div>
    </div>

    <div class="alert alert-info">
      <%= Spree.t(:page_layout_tree_instruction) %>
    </div>

  </fieldset>

<%end%>
