<%
# list layout tree in editor page.
# local params: theme, selected_id
page_layout = theme.page_layout
selected_id= (options[:selected_id]||page_layout.id )
%>
<%=form_tag(update_layout_tree_template_theme_path(theme), :id=>"layout_tree_form",:name=>"layout_tree_form", :remote=>true) do %>

  <div id='page_layout_tree_inner' class="block">
  <ul >
    <li data-lid=<%= page_layout.id %> data-tid=<%= theme.id %>>
    <%= link_to_function( page_layout.title, "",
      {"class"=>(page_layout.id==selected_id ? "selected":"")})
      %>
      <%= render :partial=>'page_layout', :locals=>{:theme=>theme, :page_layout=>page_layout, :selected_id=>selected_id, :options=>options } %>
    </li>
  </ul>
  </div>
<%end%>
