<% #local params: 
   #  theme: theme 
   #  page_layout: current page_layout  
   #  page_layouts: whole page_layout tree
  page_layouts||= page_layout.self_and_descendants
  children = page_layouts.select{|pl| pl.parent_id == page_layout.id}
%>
<% if children.present? %>
  <ul>
    <% for child in children %>
    <li data-lid=<%= child.id %> data-tid=<%= theme.id %> data-action="<%= params[:action]%>">
      <%= link_to_function(child.title, "",
        {"class"=>(child.id==selected_id ? 'selected':'') })
      %>
      <% if current == 'ConfigResource'%>
        <span class="config_resource">
        <% assigned_resources =  theme.assigned_resources_by_page_layout child  %>
        <% if assigned_resources.present? %>
            <% assigned_resources.each{ |assigned_resource|%>            
            <%= assigned_resource.name %>
            <% }%> 
        <% end %>
          </span>
      <% elsif current == 'ConfigContext'%>
          <span class="config_context">
            <% if child.section_context.present? %>
            <%= child.current_contexts.map{|section_context| Spree.t("section_context.#{section_context}")}.join(',')%>
            <% end %>  
          </span>        
      <% elsif current == 'ConfigDataSource'%>
          <span class="config_data_source">
          <% if child.data_source.present? %>
          <%= Spree.t("section_data_source.#{child.current_data_source}") %>        
          <% end %>  
          </span>
        <% end %>
      <%= render :partial => 'page_layout', :locals => { :theme => theme, :page_layout=>child, :page_layouts=>page_layouts, :selected_id=>selected_id, :current=>current } %>
    </li>
    <%end%>
  </ul>
<% end %>
