<%= render :partial => 'sub_menu' %>
<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_themes_list), session[:return_to] || native_admin_template_themes_url, :icon => 'icon-arrow-left' %></li>
  <% if can?(:config, Spree::TemplateTheme) %>
    <li id="new_template_theme_link">
    </li>
  <% end %>
<% end %>
<div id="page_layout_wrapper">
      <%= render :partial=>'spree/admin/page_layout/config_resource', :locals=>{ :page_layout=> @template_theme.page_layout } %>
</div>

<%= render :partial=>'theme_tabs',:locals=>{:current=>"SectionContext"}%>
<div class="">
<%= render :partial=>'layout_tree_for_config', :locals=>{:theme=>@template_theme, :options=>{:config_context=>true} }%>
</div>
