<%= render :partial => 'sub_menu' %>
<% content_for :page_title do %>
  <%= Spree.t(:theme_native) %> 
<% end %>

<% if @themes.any? %>
<table>
  <tr>
    <th><%= Spree::TemplateTheme.human_attribute_name(:title) %></th>
    <th>  <%= Spree.t(:theme_applied) %> </th>
    
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.title %></td>
    <td align="center"><%= theme.applied? ? Spree.t(:theme_yes) : Spree.t(:theme_no) %></td>
    <td class="actions">
    <%= link_to_with_icon 'icon-cogs', Spree.t(:theme_config), config_admin_template_theme_path(theme), {:method=>:get,:no_text => true} %>
    <%= link_to_with_icon 'icon-check-circle', Spree.t(:theme_apply), apply_admin_template_theme_path(theme), {:method=>:post,:no_text => true} %>
    <% if theme.has_native_layout? %>    
      <%= link_to_with_icon 'icon-eye', Spree.t(:theme_preview), preview_template_theme_path(theme), {:target=>'_blank',:no_text => true} %>
      <% if SpreeTheme.site_class.current.design? %>    
      <%= link_to_with_icon 'icon-copy', Spree.t(:theme_copy), copy_admin_template_theme_path(theme), {:method=>:post,:no_text => true} %>
      <%= link_to_with_icon 'icon-print', Spree.t(:theme_release), release_admin_template_theme_path(theme), {:method=>:post,:no_text => true} %>
      <% end %>
    <% end %>
    <%= link_to_delete theme, :no_text => true if can?(:delete, theme)  %>
    </td>
  </tr>
<% end %>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/template_theme')) %>,
    <%= link_to Spree.t(:select_from_foreign_themes), spree.foreign_admin_template_themes_path %>!
  </div>
<% end %>

<br />

