<%= render :partial => 'sub_menu' %>
<% content_for :page_title do %>
  <%= Spree.t(:native_themes) %> 
<% end %>

<table>
  <tr>
    <th>TemplateTheme</th>
    <th>Applied</th>
    
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.title %></td>
    <td><%= theme.applied? %></td>
    <td class="actions">
    <%= link_to_with_icon 'icon-cogs', 'Config', config_admin_template_theme_path(theme), {:method=>:get,:no_text => true} %>
    <%= link_to_with_icon 'icon-check-circle', 'Apply', apply_admin_template_theme_path(theme), {:method=>:post,:no_text => true} %>
    <% if theme.has_native_layout? %>    
      <%= link_to_with_icon 'icon-eye', 'Preview', preview_template_theme_path(theme), {:target=>'_blank',:no_text => true} %>
      <% if SpreeTheme.site_class.current.design? %>    
      <%= link_to_with_icon 'icon-copy', 'Copy', copy_admin_template_theme_path(theme), {:method=>:post,:no_text => true} %>
      <%= link_to 'Release', release_admin_template_theme_path(theme), {:method=>:post} %>
      <% end %>
    <% end %>
    <%= link_to_delete theme, :no_text => true if can?(:delete, theme)  %>
    </td>
  </tr>
<% end %>
</table>

<br />

