<div class="address vcard">
  <div class="fn"><%= address.full_name %></div>
  <% unless address.company.blank? %>
    <div class="org">
      <%= address.company %>
    </div>
  <% end %>
  <div class="adr">
    <div class="local">
      <span class="region"><%= address.state_text %></span><span class="locality"><%= address.city %></span>   
      <span class="street-address-line"> <%= address.address1 %> </span>
      <span class="postal-code"><%= address.zipcode %></span>   
    </div>

  </div>
  <% unless address.phone.blank? %>
    <div class="tel">
      <span class="type"><%= Spree.t(:phone) %></span>
      <%= address.phone %>
    </div>
  <% end %>
  <% unless address.alternative_phone.blank? %>
    <div class="alternative-phone tel">
      <span class="type"><%= Spree.t(:alternative_phone) %></span>
      <%= address.alternative_phone %>
    </div>
  <% end %>
</div>