<% # @theme - show order detail  
   # copy from spree/core/app/views/shared/_order_details.html.erb
   # just removed bill_address
%>
<div class="row steps-data">
  <dl>
  <% if order.has_step?("address") %>
      <dt><%= Spree.t(:shipping_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></dt>
      <dd class="address">
        <%= render :partial => 'spree/shared/address', :locals => { :address => order.ship_address } %>
      </dd>

    <% if @order.has_step?("delivery") %>
        <dt><%= Spree.t(:shipping_method) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless @order.completed? %></dt>
        <dd class="delivery">
          <% order.shipments.each do |shipment| %>
            <div>
            <%= shipment.stock_location.name %>
            <%= shipment.shipping_method.name %>
            </div>
          <% end %>
        </dd>      
    <% end %>
  <% end %>

    <dt><%= Spree.t(:payment_information) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless @order.completed? %></dt>
    <dd class="payment-info">
      <% order.payments.valid.each do |payment| %>
        <div> <%= render payment%>  </div>
      <% end %>
    </dd>
  </dl>
</div>

<%= render partial: 'spree/orders/order_items', locals: {order: order}%> 

