<% # do not support confirm anymore

  form_html_options = { :id => "checkout_form_#{state}", :class=>"single_page_edit_order" }  
  form_html_options[:target] = '_blank' if order.payment?
%>


<h3 class="header2"> <%= Spree.t("order_state.#{state}") %>
  <%= link_to Spree.t(:edit), update_checkout_path(state) %>

</h3>  
<div class="form-wrapper clear-block" data-hook="checkout_form_wrapper">
  <div class="fl">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => order } %>
      <% # override default form class :edit_order with :single_page_edit_order, disableSaveOnClick cause button disabled even form validation failure %>
      <%= form_for order, :url => update_checkout_path(state), :remote => !order.payment?, :html => form_html_options do |form| %>
        <%= render state, :form => form %>
      <% end %>
  </div>
    <% if state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="fr">
        <%= render :partial => 'summary', :locals => { :order => order } %>
      </div>
    <% end %>
</div>
<div id="checkout-summary-<%= state%>" class="summary-wrapper">
</div>

