
<% @body_id = 'login' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="header3"><%= Spree.t(:login_as_existing) %></h3>
  </div>
  <div id="existing-customer" class="panel-body" data-hook="login">
    <% if flash[:alert] %>
      <div class="flash errors"><%= flash[:alert] %></div>
    <% end %>
    <%= render :partial => 'spree/shared/login' %>
    <div class="text-center">
      <%= Spree.t(:or) %>
      <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> |
      <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>
