
<fieldset id="page_layout_container" class="">
  <% if @page_layout.present? %>  
      <% page_layout = @page_layout
         page_layout_with_resource = Spree::PageLayout.includes(:section_pieces).where(["spree_page_layouts.id=? and spree_section_pieces.resources!=?", page_layout.id,'']).first %>
      <legend align="center"><%= page_layout.title %></legend>
      <%= form_for :page_layout, url: update_resource_admin_template_theme_page_layout_path(@template_theme,page_layout),remote: true do |f|%>
        <div class="field">
          <%= label_tag :config_resource, Spree.t('page_layout.config_resource') %><br>
          <% if page_layout_with_resource.present? %>
            <% page_layout = page_layout_with_resource %>   
            <% page_layout.section_pieces.first.wrapped_resources.each_with_index{| wrapped_resource,idx | %>
              <%  
                  assigned_resource_id = @template_theme.assigned_resource_id(wrapped_resource.resource_class, page_layout, idx)   
              %>  
                <%= select_tag "assigned_resource_ids[]",options_from_collection_for_select(wrapped_resource.resource_class.resourceful(@template_theme ), :id, :name, assigned_resource_id ), include_blank: true, class: 'select2', multiple: "multiple"  %>
            <% } %>
          <% else %>
               <% assigned_resource_id = @template_theme.assigned_resource_id(SpreeTheme.taxon_class, page_layout) %>
               <%= hidden_field_tag "assigned_resource_ids[]",'', :value=>( assigned_resource_id>0 ? assigned_resource_id : '' ) %>      
          <% end %>
        </div>
        
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'icon-refresh' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), '', :icon => 'icon-remove', :onclick=>"$('#page_layout_container').hide();return false;" %>
        </div>
      <%end%>
  <% else %>
      <legend align="center"><%= Spree.t('page_layout.please_select_to_config') %></legend>
      <div class="alpha twelve columns no-objects-found">
        <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/page_layout')) %>,
      </div>
  <% end %>      
</fieldset> 

<% unless Rails.env.test? %>
  <script>
  $(document).ready(function () {
    <% if page_layout_with_resource.blank? %>
    <%= render :partial=>'select2_taxon', :locals=>{:dom_id=>"assigned_resource_ids_"} %>
    <% end %>
    $('.select2-container').css({width: '40em'});
  });    
  </script>
<% end %>
