
<fieldset id="page_layout_container" class="">
  <% if @page_layout.present? %>  
      <% page_layout = @page_layout%>
      <legend align="center"><%= page_layout.title %></legend>
      <%= form_for :page_layout, url: update_context_admin_template_theme_page_layout_path(@template_theme,page_layout),remote: true do |f|%>
        <div class="field">
          <%= label_tag :section_context, Spree.t('page_layout.section_context') %><br>
          <% current_contexts = page_layout.current_contexts if page_layout.section_context.present?  %>
          <%= select_tag "section_contexts[]", options_for_select((Spree::PageLayout::ContextEnum.members-[:either]).collect{|section_context| [Spree.t("section_context.#{ section_context }"), section_context] }, current_contexts ), include_blank: true,class: 'select2', multiple: "multiple" %>      
        </div>
        <div class="field">
          <% assigned_resources = @template_theme.assigned_resources(Spree::SpecificTaxon, page_layout)   %>
    
          <%= label_tag :specific_taxon, Spree.t('page_layout.specific_taxon') %><br>
          <%= hidden_field_tag :specific_taxon_ids, assigned_resources.collect(&:id).join(',') %>
        </div>
        
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'icon-refresh' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), '', :icon => 'icon-remove', :onclick=>"$('#page_layout_container').hide();return false;" %>
        </div>
      <%end%>
  <% else %>
      <legend align="center"><%= Spree.t('page_layout.please_select_to_config') %></legend>
      <div class="alpha twelve columns no-objects-found">
        <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/page_layout')) %>,
      </div>
  <% end %>      
</fieldset> 

<% unless Rails.env.test? %>
  <script>
  // copy from spree/backend/assets/javascripts/admin/taxon_autocomlete.js.erb
// assign resource to theme
  $(document).ready(function () {
    <%= render :partial=>'spree/admin/shared/select2_taxon', :locals=>{:dom_id=>"specific_taxon_ids",:multiple=>true} %>
    $('.select2-container').css({width: '40em'});
  });  
  
  </script>
<% end %>
