<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
    <%= stylesheet_link_tag 'spree/frontend/all' %>
    <%= javascript_include_tag 'store/spree_theme.login' %>
  </head>
  <body class="<%= body_class %> admin-login-body" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="container">

              <%= flash_messages %>
              <%= yield %>
    </div>
    <%= render :partial => 'spree/shared/sync_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>
