<% # override file of spree_backend, add image field %>

<tr class="option_value fields" id="spree_<%= dom_id(f.object) %>" data-hook="option_value">
  <td class="move-handle text-center">
    <span class="icon icon-move handle"></span>
    <%= f.hidden_field :id %>
  </td>
  <td class="name"><%= f.text_field :name, class: "form-control" %></td>
  <td class="presentation"><%= f.text_field :presentation, class: "form-control" %></td>
  <td > <%= image_tag f.object.image.mini_url if f.object.image.present? %>  </td>
  <td>
    <% f.object.build_image if f.object.image.blank? %>
    <%= f.fields_for :image do |image_form|%>
      <%= image_form.file_field :attachment %>
    <% end %>
  <td class="actions actions-1 text-center"><%= link_to_icon_remove_fields f %></td>
</tr>
