  <div id="checkout_form_address" data-hook="billing_fieldset_wrapper">
    <%= form.fields_for :bill_address do |bill_form| %>
      <h3><%= Spree.t(:billing_address) %></h3>
      <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
    <% end %>
    <%= form.fields_for :ship_address do |ship_form| %>
        <%= hidden_field_tag 'order[use_billing]', '1' %>
    <% end %>
  </div>
  <div id="checkout_form_delivery" >
  <%= form.fields_for :shipments do |ship_form| %>
    <h3><%= Spree.t(:shipping_method) %></h3>
    <ul class="field radios shipping-methods">
      <% ship_form.object.shipping_rates.frontend.each do |rate| %>
        <li class="shipping-method">
          <label>
            <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
            <span class="rate-name"><%= rate.name %></span>
            <span class="rate-cost"><%= rate.display_cost %></span>
          </label>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>
    
  <div id="checkout_form_payment" >
    <h3><%= Spree.t(:payment_information) %></h3>
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
        <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>
    <% end %>

    <ul id="payment-methods" >
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>
    <div style="clear:both;"></div>
    <% if Spree::Promotion.with_code.count > 0 %>
      <p class='field' data-hook='coupon_code'>
        <%= form.label :coupon_code %><br />
        <%= form.text_field :coupon_code %>
      </p>
    <% end %>
  </div>
    
<div class="form-buttons" data-hook="buttons">
  <%= button_tag :class => 'continue button primary', :type => 'submit' do %>
    <%= Spree.t(:save_and_continue) %>
  <% end %>
  <script>Spree.disableSaveOnClick();</script>
</div>
