
<h3 class="header3"><%= Spree.t(:comment_to_store, :store_name=> Spree::Store.current.name) %></h3>
<%= form_for @comment, :remote=>request.xhr?, :html=>{ :class=> 'fullwidth' }  do |f| %>
  <%= render :partial=>'form', :locals=>{ :f => f } %>
  <p><%= f.button Spree.t(:create), :class => 'button', :type=>:submit %>
     <%= f.button Spree.t('actions.cancel'), :class => 'button cancel', :type=>:button %>
  </p>
<% end %>
