
<h3 class="header3"><%= Spree.t(:add_comment,:scope=>'site') %></h3>
<%= form_for @comment, :remote=>request.xhr?  do |f| %>
  <%= render :partial=>'form', :locals=>{:commentable=>Spree::Site.current,  :f => f } %>
  <p><%= f.button Spree.t(:create), :class => 'button', :type=>:submit %>
     <%= f.button Spree.t('actions.cancel'), :class => 'button cancel', :type=>:button %>
  </p>
<% end %>
