<%
 @site ||= SpreeTheme.site_class.new
 @user ||= @site.users.build
%>
<%= form_for :site, :url => quick_lunch_path do |f| %>
    <div >
        <p>
          <%= f.label :name, t(:name,:scope=>['activerecord','attributes','site']) %> <span class="required">*</span><br />
          <%= f.text_field :name, :class => 'fullwidth title' %>
        </p>
        <p>
          <%= label :user, :email, Spree.t(:email,:scope=>['activerecord','attributes','user']) %><span class="required">*</span><br />
          <%= email_field :user, :email %>
        </p>
        <p>
          <%= label :user,:password, Spree.t(:password) %><span class="required">*</span><br />
          <%= password_field :user,:password %>
        </p>
        <p><%= f.button Spree.t(:create), :class => 'button primary' %></p>
    </div>
<% end %>
