<% content_for :page_title do %>
  <%= Spree.t('post_list') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('new_post'), new_admin_post_url, :icon => 'plus', :id => 'admin_new_post' %>
  </li>
<% end if can? :edit, Spree::Post.new %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_posts_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>

        <div data-hook="admin_posts_index_search">
          <div class="alpha nine columns">
            <div class="field">
            <%= f.label :title_cont, t("activerecord.attributes.post.title") %><br />
            <%= f.text_field :title_cont, :size => 25 %>
            </div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="form-buttons actions filter-actions" data-hook="admin_posts_index_search_buttons">
          <%= button Spree.t(:search), 'search' %>
        </div>
    <% end %>
  </div>
<% end %>

<%= paginate @collection %>

<% if @collection.any? %>

<table class="index">
    <colgroup>
       <col style="width: 50%;">
       <col style="width: 18%;">
       <col style="width: 10%;">
       <col style="width: 14%;">
    </colgroup>    
  <thead>
	<tr>
    	<th><%= sort_link @search, :title, t("activerecord.attributes.post.title") %></th>
    	<th><%= sort_link @search, :posted_at, t("activerecord.attributes.post.posted_at") %></th>
    	<th><%= sort_link @search, :live, t("activerecord.attributes.post.live") %></th>
    	<th class="actions"></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |post|%>
    <tr id="<%= spree_dom_id post %>" class="<%= cycle('odd', 'even') %>">
      <td ><%=  post.title %></td>
      <td class="align-center"><%= pretty_time post.posted_at %></td>
      <td class="align-center"><%= post.live ? Spree.t('say_yes') : Spree.t('not') %></td>
      <td class="actions">
          <%= link_to_edit post, :no_text => true, :class => 'edit' if can?(:edit, post) %>
          &nbsp;
          <%= link_to_delete post, :no_text => true if can?(:delete, post)  %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/post')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_post_path %>!
  </div>
<% end %>

<%= paginate @collection %>

