  <div class="fl" style="width:35%">
    <div id="page_layout_tree" class="block">
    <%=render :partial=>"theme_selection", :locals=>{:template_themes=>@template_themes, :selected=>@theme} %>
    <div class="fr" style="padding:2px 5px;">
      <%= check_box_tag 'page_layout_editable','1',:style=>"vertical-align: middle;" %> <span>title editable</span>
    </div>
    <%= render :partial=>"layout_tree", :locals=>{:theme =>@theme, :options =>{:editable=>true}} %>
    <% #do not put it in file layout_tree, or update_layout_tree ajax add section_selection_dialog again and again.
    %>
    <%= render :partial=>"section_selection_dialog", :locals=>{:sections=>@sections}%>

    </div>
  </div>
  <div class="fl" style="width:65%">
    <div id="editors" class="block">
      <%=render :partial=>"editors" %>
    </div>
  </div>
  <%= render :partial=>"model_dialog"%>
