<%
# list layout tree in editor page.
# local params: theme, selected_id
layout_root = theme.page_layout
options ||={} 
selected_id= (options[:selected_id]||layout_root.id )
%>
<%=form_tag(update_layout_tree_template_theme_path(theme), :id=>"layout_tree_form",:name=>"layout_tree_form", :remote=>true) do %>

  <div id='page_layout_tree_inner' class="block">
  <% for page_layout in layout_root.self_and_descendants%>
    <% assigned_taxons = theme.assigned_resources(SpreeTheme.taxon_class, page_layout)
    %>
  <div class="clear-block">
    <div class="fl">
    <%=raw("&nbsp;&nbsp;"*page_layout.cached_level)%>
    <% # do not call form.submit. 
      page_layout_class = 'click_editable'
      page_layout_class << ' selected' if page_layout.id==selected_id 
    %>
    <%= link_to( page_layout.title, "", {"href"=>'javascript:void(0)', "class"=>page_layout_class,"data-lid"=>page_layout.id,"data-tid"=>theme.id, :onmouseout=>"$('#{page_layout.css_selector}').trigger('dehighlight')",:onmouseover=>"$('#{page_layout.css_selector}').trigger('highlight')"}) %> 
    <%if options[:show_assigned_resource] %>
      <% if assigned_taxons.present? %>
      <span>[t:<%= assigned_taxons.collect(&:name) %>]</span>
      <%end%>
    <%end%>  
    <%if options[:show_context] %>      
    <span><%= page_layout.current_contexts if page_layout.section_context.present? %></span>
    <%end%>  
    </div>
    <% if options[:configurable] %>
      <% # only show it for selected page_layout
      %>
      <div class="fr">
        <% if assigned_taxons.present? %>
        <% end %>
        <%= link_to 'add_taxon' %>, <%= link_to 'add_image' %>
      </div>
    <% end %>
    <% if options[:editable] %>
      <div class="fr">
      <%= link_to "+","#", {data: {id:page_layout.id}, class: :add_section_button  } %>
      <%= link_to "-","#", {data: {id:page_layout.id}, class: :remove_section_button } %>
      <%= link_to "u","#", {data: {id:page_layout.id}, class: :move_section_to_left_button } %>
      <%= link_to "d","#", {data: {id:page_layout.id}, class: :move_section_to_right_button } %>
      <%= link_to "<","#", {data: {id:page_layout.id}, class: :promote_section_button } %>
      <%= link_to ">","#", {data: {id:page_layout.id}, class: :demote_section_button } %>
      </div>
    <% end %>
  </div>
  <% end %>
  </div>
<%=hidden_field_tag "selected_section_id" %>
<%=hidden_field_tag "op" %>
<%=hidden_field_tag "layout_id" %>
<script>
<% #keep js in this file, update_layout_tree would update page layout tree, js should be reset as well %>
      $("#layout_tree_form .click_editable").each(function(index,element){
      var jquery_element = $(element);
      jquery_element.editable(function(value, settings) { 
            var url = Spree.routes.admin_page_layouts( jquery_element.data('tid') )+'/'+jquery_element.data('lid');
            var submitdata = {};
            submitdata[settings.name] = value;
            //submitdata[settings.id] = self.id;
            $.ajax({ dataType: 'json', url: url, type: 'put',  data : submitdata,
                success: function(data){
                  // data is null, "nocontent" returned
                  // jquery_element.html(data.page_layout.title);
                }
            });             
            return(value);
          },        
          { //since dblclick would trigger click, for a link, we should not click,dblclick together
            event     : "click_editable",
            name      : "page_layout[title]",
            style  : "inherit" });
      jquery_element.click(function(){
        if($('#page_layout_editable').is(':checked')){
          jquery_element.trigger('click_editable')
        }else{
          $('#selected_page_layout_id').val(jquery_element.data('lid'));
          $('#layout_editor_form').trigger('submit')
        }          
      })        
    })
</script>

<%end%>
