<%
# list layout tree in editor page.
# local params: theme, selected_id
layout = theme.page_layout
options ||={} 
selected_id= (options[:selected_id]||layout.id )
page_layouts_with_resource = Spree::PageLayout.includes({:sections=>:section_piece}).where(["spree_section_pieces.resources!=?",''])
%>
<%=form_tag(update_layout_tree_template_theme_path(theme), :id=>"layout_tree_form",:name=>"layout_tree_form", :remote=>true) do %>

  <div id='page_layout_tree_inner' class="block">
  <ul >
    <li>
    <%= link_to_function(layout.title, 
      "$('#selected_page_layout_id').val(#{layout.id});$('#layout_editor_form').trigger('submit')",
      {"class"=>(layout.id==selected_id ? "selected":""),"data-lid"=>layout.id, :onmouseout=>"$('#{layout.css_selector}').trigger('dehighlight')",:onmouseover=>"$('#{layout.css_selector}').trigger('highlight')"})
      %>
      <%= render :partial=>'page_layout', :locals=>{:theme=>theme, :page_layout=>layout, :selected_id=>selected_id, :options=>{:page_layouts_with_resource=>page_layouts_with_resource}} %>
    </li>
  </ul>
  </div>
<%=hidden_field_tag "selected_section_id" %>
<%=hidden_field_tag "op" %>
<%=hidden_field_tag "layout_id" %>

<%end%>
<%= javascript_tag do %>

<% end %>
