
    <%= f.field_container :theme_id, class: ['form-group'] do %>
      <%= f.label :theme_id %> <span class="required">*</span><br />
      <%= f.select :theme_id,Spree::TemplateTheme.native.map{|theme| [theme.title, theme.id]}, {},:class => 'fullwidth select2' %>
    <% end %>
    <%= f.field_container :attachment, class: ['form-group'] do %>
      <%= f.label :attachment, Spree.t(:filename) %> <span class="required">*</span><br />
      <%= f.file_field :attachment, :class => 'fullwidth title' %>
      <%= f.error_message_on :attachment %>
    <% end %>
