<% content_for :page_actions do %>
  <%= button_link_to Spree.t("template_file.new"), new_object_url, class: "btn-success", :icon => 'plus' %>
<% end %>

<%= render :partial=>'spree/admin/shared/template_text_tabs',:locals=>{:current=>"TemplateFile"}%>

<% if @template_files.any? %>

<table class="table">
  <colgroup>
    <col style="width: 8%" />
    <col style="width: 18%" />
    <col style="width: 18%" />
    <col style="width: 10%" />
    <col style="width: 8%" />
    <col style="width: 24%" />
    <col style="width: 12%" />
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><%= Spree::TemplateFile.human_attribute_name(:attachment_file_name) %></th>
      <th><%= Spree::TemplateFile.human_attribute_name(:template_theme) %></th>
      <th><%= Spree::TemplateFile.human_attribute_name(:attachment_content_type) %></th>
      <th><%= Spree::TemplateFile.human_attribute_name(:attachment_file_size) %></th>
      <th><%= Spree::TemplateFile.human_attribute_name(:created_at) %></th>
      <th class="actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_files.each do |page| %>
      <tr class="<%= cycle('odd', 'even') %>" id="<%= dom_id page %>">
        <td> <%= image_tag page.attachment.url(:mini) %> </td>
        <td> <%= page.name %> </td>
        <td> <%= page.template_theme.title if page.template_theme.present? %>  </td>
        <td> <%= page.attachment_content_type %>  </td>
        <td> <%= page.attachment_file_size %>     </td>
        <td> <%= pretty_time(page.created_at) %>  </td>
        <td  class="actions">
          <%= link_to_edit page, :no_text => true %>
          <%= link_to_delete page, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @template_files %>

<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/template_file')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_template_file_path %>!
  </div>
<% end %>
