<%= render :partial => 'sub_menu' %>
<% content_for :page_title do %>
   <%= Spree.t("template_file.index") %> <i class="icon-arrow-right"></i> <%= Spree.t("template_file.new") %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_template_file_list), spree.admin_template_files_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @template_file %>

<%= form_for [:admin, @template_file]  do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>