
    <%= f.field_container :name, class: ['form-group']  do %>
      <%= f.label :name %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'form-control title ' %>
      <%= f.error_message_on :name %>
    <% end %>

     <%= f.field_container :body, class: ['form-group']  do %>
      <%= f.label :body %><span class="required">*</span><br />
      <%= f.text_area :body %>
      <%= f.error_message_on :body %>
    <% end %>
