<% content_for :page_title do %>
  <%= Spree.t("template_text.index") %>
<% end %>

<% content_for :sidebar_title do %>
  <span class="template_resource"><%= Spree.t("template_resource")%></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_theme_tabs">
      <%= content_tag :li, :class => ('active' if current == 'TemplateText') do %>
        <%= link_to_with_icon 'edit', Spree.t("template_text.index"), admin_template_texts_url() %>
      <% end if can?(:admin, Spree::TemplateText) %>

      <%= content_tag :li, :class => ('active' if current == 'TemplateFile') do %>
        <%= link_to_with_icon 'picture-o', Spree.t("template_file.index"), admin_template_files_url() %>
      <% end if can?(:admin, Spree::TemplateFile) %>
    </ul>
  </nav>
<% end %>