<%= render :partial => 'sub_menu' %>
<% content_for :page_title do %>
   <%= Spree.t("template_text.index") %> <i class="icon-arrow-right"></i> <%= t("static_content.editing_page") %> "<%= @template_text.name%>"
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_template_text_list), spree.admin_template_texts_url, :icon => 'arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @template_text %>

<%= form_for [:admin, @template_text] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
