<div data-hook="admin_site_form_fields">
  <div class="clearfix">
    <div class="left" data-hook="admin_site_form_left">
      <p>
        <%= f.label :name, t(:name,:scope=>['activerecord','attributes','site']) %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title' %>
      </p>

      <p>
        <%= f.label :short_name, t(:short_name,:scope=>['activerecord','attributes','site']) %> <span class="required">*</span><br />
        <label id="protocol" for="site_short_name">http://</label>
        <%= f.text_field :short_name, :class => 'fullwidth title' %>
        <span id="dalianshops">.dalianshops.com</span>  <br />
        <span class="hint"> 
          如果您拥有像<strong>www.example.com</strong>这样的顶级域名，您可以稍候在后台管理中绑定它
        </span>          
      </p>
   
      <p>
        <%= f.label :has_sample, t(:site_has_sample) %> <br />
        <%= f.check_box :has_sample, :class => 'fullwidth title' %>
      </p>
      <% if @site.new_record? %>
        
        <%= render :partial => 'spree/sites/user', :locals => { :user => @user } %>
            
      <% end %>
    </div>
  </div>
</div>
