<div data-hook="user_form_fields">
  <p>
    <%= label :user, :email, t(:email,:scope=>['activerecord','attributes','user']) %><span class="required">*</span><br />
    <%= email_field :user, :email %>
  </p>

  <p>
    <%= label :user,:password, t(:password) %><span class="required">*</span><br />
    <%= password_field :user,:password %>
  </p>

  <p>
    <%= label :user,:password_confirmation, t(:confirm_password) %><span class="required">*</span><br />
    <%= password_field :user,:password_confirmation %>
  </p>
</div>