<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<%= csrf_meta_tags %>

<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= "DalianShops #{Spree.t('administration')}: " %>
    <%= Spree.t(controller.controller_name, :default => controller.controller_name.titleize) %>
  <% end %>
</title>

<%= stylesheet_link_tag 'spree/backend/all' %>

<%= javascript_include_tag 'spree/backend/all' %>

<%= render "spree/admin/shared/translations" %>

<%= javascript_tag do -%>
  jQuery.alerts.dialogClass = 'spree';
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
  <%== "Spree.api_key = '#{try_spree_current_user.spree_api_key}';" if try_spree_current_user %>
<% end %>

<%= yield :head %>
