<div data-hook="admin_site_form_fields">
  <div class="clearfix">
    <div class="left" data-hook="admin_site_form_left">
      <%= f.field_container :name do %>
        <%= f.label :name, t(:site_name) %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
      <%= f.field_container :domain do %>
        <%= f.label :domain, t(:site_domain) %> <br />
        <%= f.text_field :domain, :class => 'fullwidth title' %>
        <%= f.error_message_on :domain %>
      <% end %>
      <%= f.field_container :short_name do %>
        <%= f.label :short_name, t(:site_short_name) %> <span class="required">*</span><br />
        <%= f.text_field :short_name, :class => 'fullwidth title' %>
        <%= f.error_message_on :short_name %>
      <% end %>
      <%= f.field_container :layout do %>
        <%= f.label :layout, t(:site_layout) %> <br />
        <%= f.text_field :layout, :class => 'fullwidth title' %>
        <%= f.error_message_on :layout %>
      <% end %>

      <%= f.field_container :has_sample do %>
        <%= f.label :has_sample, t(:site_has_sample) %> <br />
        <%= f.check_box :has_sample, :class => 'fullwidth title' %>
        <%= f.error_message_on :has_sample %>
      <% end %>
      <% if @site.new_record? %>
        
        <%= render :partial => 'spree/admin/sites/user', :locals => { :user => @user } %>
            
      <% end %>
    </div>
  </div>
</div>
