<% content_for :page_title do %>
   <%= Spree.t("edit_post") %>  &ldquo;<%= @post.title %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @post.title.truncate(10) %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Post Details') do %>
        <%= link_to_with_icon 'edit', Spree.t(:post_details),edit_admin_post_url(@post) %>
      <% end if can?(:admin, Spree::Post) %>
      <%= content_tag :li, :class => ('active' if current == 'Post Files') do %>
        <%= link_to_with_icon 'picture-o', Spree.t(:post_files), admin_post_files_url(@post) %>
      <% end if can?(:admin, Spree::PostFile) %>

    </ul>
  </nav>

<% end %>
