<%= javascript_tag " var please_select_state_prompt = '#{j Spree.t('china_address.state_prompt')}';
  var please_select_city_prompt = '#{j Spree.t('china_address.city_prompt')}';
  var please_select_district_prompt = '#{j Spree.t('china_address.district_prompt')}';" %>


<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <%= form.hidden_field :lastname, :class => '', :value=>'unused' %>
  <% if Spree::Config[:company] %>
    <p class="field" id=<%="#{address_id}company" %>>
      <%= form.label :company, Spree.t(:company) %><br />
      <%= form.text_field :company %>
    </p>
  <% end %>


  <p class="field" id=<%="#{address_id}country" %>>
    <%= form.label :country_id, Spree.t('china_address.city') %><span class="required">*</span><br />
    <span id=<%="#{address_id}country-selection" %>>
      <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
    </span>
  <% if Spree::Config[:address_requires_state] %>
    <span class="field" id=<%="#{address_id}state" %>>
      <% states = address.try(:country).try(:states) %>
      <%= form.collection_select(:state_id, states,
                            :id, :name,
                            {:include_blank => Spree.t('china_address.state_prompt')},
                            {:class => 'form-control required'})
      %>
    </span>

    <span class="field" id=<%="#{address_id}city" %>>
      <% cities = address.try(:state).try(:cities) || [] %>
      <%= form.collection_select(:city_id, cities,
                            :id, :name,
                            {:include_blank => Spree.t('china_address.city_prompt')},
                            {:class => 'form-control required'})
      %>
    </span>

    <span class="field" id=<%="#{address_id}district" %>>
      <% districts = address.try(:city).try(:districts ) || [] %>
      <%= form.collection_select(:district_id, districts,
                            :id, :name,
                            {:include_blank => Spree.t('china_address.district_prompt')},
                            {:class => 'form-control required'})
      %>
    </span>
  <% end %>
  </p>

  <p class="field" id=<%="#{address_id}address1" %>>
    <%= form.label :address1, Spree.t('china_address.street') %><span class="required">*</span><br />
    <%= form.text_field :address1, class: 'required', size: '66', maxlength: '66' %>
  </p>

  <p class="field" id=<%="#{address_id}zipcode" %>>
    <%= form.label :zipcode, Spree.t(:zip) %><span class="required">*</span><br />
    <%= form.text_field :zipcode, :class => 'required' %>
  </p>

  <p class="field" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname, Spree.t('china_address.firstname') %><span class="required">*</span><br />
    <%= form.text_field :firstname, :class => 'required' %>
  </p>

  <p class="field" id=<%="#{address_id}phone" %>>
    <%= form.label :phone, Spree.t(:phone) %><span class="required">*</span><br />
    <%= form.phone_field :phone, :class => 'required' %>
  </p>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <p class="field" id=<%="#{address_id}altphone" %>>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone) %><br />
      <%= form.phone_field :alternative_phone %>
    </p>
  <% end %>
</div>
